@use "mixins/mixins.scss" as *;
@use "common/var.scss" as *;

@include b(calendar) {
  @include e(header) {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
  }
  @include e(title) {
    font-size: 24px;
    color: $color-primary;
  }
  @include e(button-group) {
    font-size: 12px;
    button {
      transform: scale(0.8);
    }
  }
  @include e(body) {
  }
}

@include b(calendar-table) {
  width: 100%;
  th {
    font-size: 18x;
    padding: 5px;
  }
  td {
    border-bottom: 1px solid $color-primary;
    border-right: 1px solid $color-primary;

    @include when(selected) {
      color: $color-warning;
    }

    @include when(today) {
      background-color: $color-danger;
    }
  }
  // 下个月、上个月的日期颜色
  td.prev,
  td.next {
    color: $color-info;
  }
  tr {
    td:first-child {
      border-left: 1px solid $color-primary;
    }
  }
  tr:first-child {
    td {
      border-top: 1px solid $color-primary;
    }
  }
}

@include b(calendar-day) {
  font-size: 16px;
  padding: 8px;
  height: 40px;
  &:hover {
    cursor: pointer;
    background-color: $color-success;
  }
}
