@use "mixins/mixins.scss" as *;
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@include b(icon) {
  display: inline-flex;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  svg.loading {
    animation: spin 0.5s linear infinite;
    // display: inline-block;
  }
}
