// BEM 语法工具文件，作用是在写组件样式时自动生成统一、规范的类名
@use "config" as *; // 从 config.scss 里引入命名空间变量
@forward "config"; // 导出config变量

// 生成组件的“基础块”选择器 .yx-button{}
@mixin b($block) {
  $B: $namespace + "-" + $block;
  .#{$B} {
    @content;
  }
}

// 定义修饰符（Modifier） &--primary => .yx-button--primary
@mixin m($modifier) {
  @at-root {
    #{& + $modifier-separator + $modifier} {
      @content;
    }
  }
}

// 定义元素（Element） &__header => .yx-button__header
@mixin e($element) {
  @at-root {
    #{& + $element-separator + $element} {
      @content;
    }
  }
}

// 生成 .is-xxx 状态修饰类 .yx-button.is-xxx
@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}
