$color-primary: rgb(255, 170, 170);
$color-white: rgb(242, 243, 239);
$color-black: rgb(44, 43, 45);
$color-success: yellowgreen;
$color-warning: #ffbb00;
$color-danger: rgb(215, 28, 28);
$color-info: rgb(134, 139, 134);
